<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Quick Orders System">
    <meta name="author" content="Andrey Castro - Recicladora San Miguel">
    <title>
        <%= tabTitle %>
    </title>
    <!-- Project icon -->
    <link href="public/static/img/nodejs.png" rel="icon">
    <!-- Bootstrap core CSS-->
    <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom notification styles-->
    <link href="public/vendor/noty/noty.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="public/vendor/sb-admin/css/sb-admin.css" rel="stylesheet">
    <!-- Custom CSS styles-->
    <link href="public/static/css/screen.css" rel="stylesheet">
</head>

<body class="fixed-nav bg-dark" id="page-top">
    <!-- Navigation-->
    <%- include partials/nav.ejs %>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <%- body -%>
                </div>
            </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <!-- <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Your Website 2017</small>
                </div>
            </div>
        </footer> -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>

        <%- include partials/logout_modal.ejs %>
    </div>

    <!-- Loading Overlay -->
    <%- include partials/loading_overlay.ejs %>

    <!-- JS Files -->
    <!-- Socket IO -->
    <script src="public/vendor/io/socket.io.js"></script>
    <!-- JQuery Libraries -->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/jquery/jquery-templates.js"></script>
    <script src="public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="public/vendor/popper/popper.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom notifications library -->
    <script src="public/vendor/noty/noty.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="public/vendor/sb-admin/js/sb-admin.min.js"></script>

    <!-- Global Functions Object -->
    <%- include partials/global_object.ejs %>

    <!-- Custom JS files -->
    <% if(locals.jsfiles !== undefined){ %>
        <% for(var i=0; i < jsfiles.length; i++) {%>
            <script src="public/static/js/<%= jsfiles[i] %>.js"></script>
        <% } %>
    <% } %>
    <!-- ./JS Files -->
</body>
</html>