<%- contentFor('breadcrumb') %>
	<!-- <ol class="breadcrumb">
	    <li class="active">
	        <i class="fa fa-dashboard"></i> Dashboard
	    </li>
	</ol> -->

<%- contentFor('body') %>
	<div class="content-container orders">
		<div class="screen-holder">
			<div class="row orders-screen">
	        
	    	</div>
	    	<div class="row order-details-screen">
	    		<div class="col-12 col-md-4 order-section">
		     		4 of 12
		    	</div>
		    	<div class="col-12 col-md-8 products-section">
		    		<div class="row align-items-end">
		    			<% for(var i=0; i < products.length; i++) {%>
		    				<div class="col-4 col-sm-4 col-md-3 col-lg-2 o-hidden h-100  product-card">
		    					<div class="product-card-inner">
		    						<span class="badge"><%= products[i].price %></span>
						            <div class="product-card-body clearfix">
						              	<% if (products[i].image !== false) { %> 
				                			<img class="product-card-image" src="data:image/png;base64, <%= products[i].image %>">
				                		<% } else { %>
				                			<img class="product-card-image" src="/public/static/img/no-image.png">
				                	 	<% } %>
						            </div>
						            <div class="product-card-footer text-white bg-primary clearfix small z-1" href="#">
						              	<span class="float-left"><%= products[i].name %></span>
						            </div>
					            </div>
					        </div>
		            	<% } %>  
  					</div>
		    	</div>
	    	</div>
		</div>
	</div>



